<div class="row">
    <div class="col-xs-12">
        <div class="page-header clearfix">
            <div class="pull-left">
                Formularz wyszukiwania
            </div>
            <div class="pull-right">
                <a href="#"><i class="glyphicon glyphicon-resize-full"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <form class="form form-horizontal" id="search-form">
        <fieldset>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label col-xs-4">
                        Wzrost
                    </label>
                    <div class="col-xs-8">
                        <select class="form-control" name="form[attribute][eye]">
                            <option>Dowolne</option>
                            <option value="dwarf">Karzeł</option>
                            <option value="small">Niski</option>
                            <option value="average">Przeciętny</option>
                            <option value="tall">Wysoki</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4">
                        Waga
                    </label>
                    <div class="col-xs-8">
                        <select class="form-control" name="form[attribute][eye]">
                            <option>Dowolne</option>
                            <option value="small">Niska</option>
                            <option value="average">Średnia</option>
                            <option value="tall">Duża</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4">
                        Wiek
                    </label>
                    <div class="col-xs-8">
                        <select class="form-control" name="form[attribute][eye]">
                            <option>Dowolne</option>
                            <option value="dwarf">Młody</option>
                            <option value="small">Średni</option>
                            <option value="average">Stary</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-8">
                        <button class="btn btn-success">Szukaj</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                Ostatnie wyszukania:
            </div>
        </fieldset>
    </form>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            Wyniki
        </div>
    </div>
    <div class="results">
        <ul class="person-list" id="persons-list">

        </ul>
    </div>
</div>